.main {  
  display: flex;
  gap: 10px;
}

.main a {
  transition: 0.3s;
}

.main a:hover {
  color: tomato;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 340px;
}

.form div {
  width: 100%;
}